BGChess.dtd

<!ENTITY nbsp "&#160;">

<!ELEMENT BGChess ( BGChessCategory+ )>
<!ATTLIST BGChess KP CDATA #IMPLIED>
<!ATTLIST BGChess paginate ( yes | no ) #IMPLIED>

<!ELEMENT BGChessCategory ( BGChessCategoryName, BGChessCategoryBlock )>
<!ATTLIST BGChessCategory Prefix CDATA #REQUIRED>

<!ELEMENT BGChessCategoryName ( #PCDATA )>

<!ELEMENT BGChessCategoryBlock EMPTY >
